<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="POM_Util.TestListener"></listener>
<listener class-name="POM_Util.AnnotationTransformer"></listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="POM_TestCases.LoginTest"/>
    </classes>
  </test>
  <test name="Test">
    <classes>
      <class name="POM_TestCases.Logout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
